<html>
<head>
  <title>react-webpack-boilerplate</title>

  <link rel="manifest" href="./public/manifest.webmanifest.json">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
